<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="fontawesome/css/all.css">
  <script src="https://kit.fontawesome.com/3eeab2f4f4.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.28.0/dist/full.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="style2.css">
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat&display=swap" rel="stylesheet">
  <title>Laravel Rangkuman</title>
</head>
<style>
  body {
    background: linear-gradient(2.24deg, #FF2B21 -12%, #2227B1 80.95%);
  }

  h1 {
    font-family: 'Bungee Shade', cursive;
    color: white;
  }

  h2 {
    font-family: 'Montserrat', sans-serif;
  }

  .halawal {
    background: linear-gradient(2.24deg, #FF2B21 -12%, #2227B1 80.95%);
  }

  p {
    font-family: 'Lato', sans-serif;
  }

  #pengertian {
    background: #2227B1;
    background-repeat: no-repeat;
    border-radius: 1%;
  }
</style>

<body>

  <!--header-->
  <header>
    <div class=" halawal h-screen ">
      <div class="  text-center justify-center pt-80   items-center">
        <img src="img/tulisanlaravel-removebg-preview.png" class="w-96 mx-auto  " alt="">
        <p class="text-white ">PHP FRAMEWORK</p>


      </div>
      <div class="toms md:flex md:justify-center md:text-center  m-auto mt-10  w-10  rounded-lg">
        <div class="dropdown">
          <label tabindex="0" class="btn m-1">MULAI</label>
          <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
            <li><a href="#pengertian">Pengertian</a></li>
            <li><a href="#kelebihan">Kelebihan</a></li>
            <li><a href="#bladetemplate">Blade Template</a></li>
          </ul>
        </div>
      </div>
  </header>
  <!--end of header-->
  <!--Anggota Kelompok-->
  <div id="anggota">
    <div>
      <h1 class="text-4xl text-center pt-10">PERKENALKAN KAMI KELOMPOK 4</h1>
    </div>
    <div class="containers">
      <div class="cards">
        <figure class="cards__thumb">
          <img src="img/nabil1.jpeg" class="cards__image">
          <figcaption class="cards__caption">
            <h2 class="cards__title">M NABIL GHIFARI MONTESWI</h2>
            <p class="cards__snippet">215150707111005</p>

          </figcaption>
        </figure>
      </div>

      <div class="cards">
        <figure class="cards__thumb">
          <img src="img/ubed.jpg" class="cards__image">
          <figcaption class="cards__caption">
            <h2 class="cards__title">Taufiq Ubaidillah ganteng</h2>
            <p class="cards__snippet">215150700111001</p>
          </figcaption>
        </figure>
      </div>

      <div class="cards">
        <figure class="cards__thumb h-full">
          <img src="img/ferdi.jpg" class="cards__image">
          <figcaption class="cards__caption">
            <h2 class="cards__title">Ferdinand Pratama Putra</h2>
            <p class="cards__snippet">215150700111040</p>
          </figcaption>
        </figure>
      </div>
      <div class="cards">
        <figure class="cards__thumb h-full">
          <img src="img/foto ikaaa.JPG" class="cards__image">
          <figcaption class="cards__caption">
            <h2 class="cards__title">Rizka Winal Sabrina</h2>
            <p class="cards__snippet mt-20">215150707111029</p>

          </figcaption>
        </figure>
      </div>
      <div class="cards">
        <figure class="cards__thumb h-full">
          <img src="img/eci.jpg" class="cards__image">
          <figcaption class="cards__caption">
            <h2 class="cards__title">ECI EMRIYENI</h2>
            <p class="cards__snippet mt-52">215150701111002</p>

          </figcaption>
        </figure>


      </div>
      <div class="kata p-10 mt-10 mb-10 ">
        <h2 class="text-black text-center">KAMI KELOMPOK 4</h2>
        <p class="text-black text-center text-xl">Kami Kelompok 4 dengan semangat juang yang tangguh, <br> tanpa
          kenal lelah. Kami mengerjakan dengan penuh semangat
          dan selalu berjuang untuk menjadi yang terbaik. <br>
          KELOMPOK 4 JAYA JAYA KAYA
        </p>

      </div>
      <style>
        .kata {
          background: linear-gradient(180.39deg, #1E7480 44.54%, #1E7480 50.98%, #3A8DDB 93.19%);
        }
      </style>
    </div>
  </div>
  <!--End of Anggota Kelompok-->
  <!--Pengertian Laravel-->
  <div id="pengertian">
    <div class="md:mx-28  py-28  ml-5 mr-5">
      <div class="lg:flex">
        <img src="img/logoLaravel2-removebg-preview.png" alt="">
        <div class="md:ml-20">
          <h1 class=" text-2xl md:text-4xl mt-10 text-white">PENGERTIAN Laravel</h1>
          <p class="text-justify md:mr-20 md:mr-10 mt-3 text-white text-sm md:text-lg">Laravel adalah
            framework berbasis bahasa pemrograman PHP yang
            bisa
            digunakan untuk membantu proses pengembangan
            sebuah website agar lebih maksimal. Dengan menggunakan Laravel,
            website yang dihasilkan akan lebih dinamis.Framework Laravel menggunakan struktur MVC (Model
            View Controller). MVC merupakan model aplikasi yang
            memisahkan antara data dan tampilan berdasarkan komponen aplikasi. Dengan adanya model MVC,
            pengguna Laravel menjadi lebih mudah dalam mempelajari Laravel. Serta menjadikan proses
            pembuatan aplikasi berbasis website menjadi lebih cepat.</p>
        </div>
      </div>
    </div>

  </div>
  <!--End of Pengertian Laravel-->
  <!--Kelebihan Laravel-->
  <div id="kelebihan">
    <h1 class="text-4xl text-center text-black pt-10">Kelebihan Laravel</h1>
    <div class="kelebihanCard md:mx-24 mx-14">
      <div class="container">
        <div class="card">
          <div class="face face1">
            <div class="content">
              <span class="stars"></span>
              <p class="kelebihan1 mb-20">Otentikasi adalah ketika Anda bisa masuk ke dalam sebuah website
                menggunakan
                identitas elektronik Anda. Misalnya, Anda menggunakan username, email, serta password.
                Nah, dengan menggunakan laravel, otentikasi pada sebuah website bisa menjadi lebih
                sederhana. Sehingga, pengguna-pengguna yang tidak terdaftar dan cenderung membahayakan
                website bisa dihindari..</p>
            </div>
          </div>
          <div class="face face2">
            <h2>Otentikasi yang sederhana</h2>
          </div>
        </div>

        <div class="card">
          <div class="face face1">
            <div class="content">
              <span class="stars"></span>
              <p class="kelebihan2 m-auto" style="font-size: 11px;">Laravel adalah salah satu framework
                yang didukung oleh MVC. Namun, apa
                itu MVC?

                MVC adalah singkatan dari Model, View, Controller. Ini adalah sebuah desain arsitektur
                yang membagi pengembangan website menjadi tiga bagian.

                Pada Model, developers khusus mengembangkan dan mengelola database website. Sementara
                itu, View berhubungan dengan tampilan informasi yang akan dilihat oleh pengguna.
                Sedangkan Controller berperan sebagai penghubung antara Model dan View.

                Nah, framework Laravel didukung oleh konsep seperti ini. Sehingga, proses pengembangan
                software bisa menjadi lebih cepat, terorganisir, dan memberikan hasil yang optimal.
              </p>
            </div>
          </div>
          <div class="face face2">
            <h2>Didukung oleh MVC</h2>
          </div>
        </div>


        <div class="card">
          <div class="face face1">
            <div class="content">
              <span class="stars"></span>
              <p class="kelebihan3 text-justify">Laravel adalah framework yang dikembangkan dengan konsep
                testing.
                Biasanya, testing di sini dilakukan secara otomatis. Tujuannya supaya aplikasi terhindar
                dari bugs dan errors. Sehingga hasil akhirnya menjadi optimal.

                Dengan laravel, Anda dapat melakukan testing secara sederhana. Selain itu, Anda dapat
                memperhatikan kebiasaan pengguna ketika testing, seperti kebiasaan mengklik tautan
                ataupun mengisi formulir. </p>
            </div>
          </div>
          <div class="face face2">
            <h2>Dilengkapi dengan Testing</h2>
          </div>
        </div>
        <div class="card">
          <div class="face face1">
            <div class="content">
              <span class="stars"></span>
              <p class="kelebihan4">Tool Artisan adalah tool command line. Dengan tool ini, proses
                pengembangan yang rumit dan kompleks dapat diatasi dengan baik. Hal ini tentunya sangat
                mempermudah kinerja software developers. </p>
            </div>
          </div>
          <div class="face face2">
            <h2>Memiliki Tool Artisan</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--END OF Kelebihan Laravel-->
  <!--Blade Template-->
  <div id="bladetemplate">
    <h1 class="text-3xl text-center text-white pt-10    ">
      Blade Template Laravel
    </h1>
    <!--Pengertian BLade Template-->
    <section class="pengertian">
      <div class="md:mx-40 mt-10 bg-red-400 rounded-lg md:px-20 px-8">
        <h1 class="pt-10 text-3xl text-black" style="font-family: 'Montserrat',sans serif;">PENGERTIAN</h1>
        <p class="pt-5 text-xl text-white text-justify pb-10">Blade adalah template engine yang disediakan
          Laravel
          untuk proses
          templating pada laravel dan sangat
          bermanfaat dalam proses pengembangan tampilan halaman website.Tidak seperti fitur templating PHP
          populer lainnya, Blade tidak membatasi developer untuk menggunakan kode PHP biasa dalam membuat kode
          untuk tampilan. Semua tampilan Blade dikompilasi ke dalam kode PHP biasa dan kemudian disimpan dalam
          cache hingga diubah, yang berarti Blade pada dasarnya tidak menambahkan beban atau overhead pada
          saat aplikasi dijalankan. Blade pada laravel menggunakan ekstensi file .blade.php dan biasanya
          disimpan di direktori resources / views. Dalam hal ini Blade pada Laravel menggunakan basis template
          inheritance dan sections.</p>
      </div>
    </section>
    <!--END of Pengertian Blade Template-->
    <!--Kegunaan Blade Template-->
    <section class="kegunaan">
      <div class="md:mx-40 mt-8 bg-red-400 rounded-lg md:px-20 px-8">
        <h1 class="pt-10 text-3xl text-black" style="font-family: 'Montserrat',sans serif;">Kegunaan</h1>
        <p class="pt-5 pb-5 text-xl text-white text-justify">Salah satu kegunaan dari Blade Template Engine
          Laravel
          adalah penggunaan layout, agar tampilan yang berulang misalnya header, footer, sidebar dan
          sebagainya tidak perlu dibuat berulang kali sehingga rawan inkonsistensi. Pada umumnya layout
          ditempatkan dalam sebuah folder yang bernama layout dalam folder views, namun demikian developer
          tidak dibatasi apabila ingin menggunakan nama lain.</p>
      </div>
    </section>
    <!--END OF KEGUNAAN BLADE TEMPLATE-->
    <!--Menampilkan Data-->
    <section class="menampilkan_data">
      <div class="md:mx-40 mt-8 bg-red-400 rounded-lg md:px-20 px-8">
        <h1 class="pt-10 text-3xl text-black" style="font-family: 'Montserrat',sans serif;">Menampilkan Data
        </h1>
        <p class="pt-5 pb-5 text-xl text-white text-justify">Untuk menampilkan data yang diteruskan ke Blade
          view,
          caranya adalah dengan memasukkannya ke dalam kurung kurawal seperti berikut ini :
        </p>
        <div class=" pb-10">
          <img src="/img/display1.jpeg" class="" alt="">
          <p class="text-white ml-10 text-2xl text-justify"> - Variable "nama" pada kode diatas dapat
            ditampilkan dengan cara membuatkannya
            seperti array dengan menggunakan
            <br> <span class="font-extrabold text-black" style="font-family: 'Montserrat',sans serif;">Hello,
              {{$nama}}</span>
            <br> - Pada laravel Tidak ada pembatasan untuk menampilkan konten dari variable yang diteruskan
            ke
            view. Output dari fungsi PHP juga dapat ditampilkan. Bahkan, kode PHP apapun dapat dimasukkan ke
            dalam Blade echo statement.
          </p>
        </div>
      </div>
    </section>
    <!--END OF Menampilkan Data-->
    <!--Blade Directives-->
    <section class="bladedirectives">
      <div class="bladedirectives">
        <section class="pengertian">
          <div class="md:mx-40 mt-10 bg-red-400 rounded-lg md:px-20 px-6">
            <h1 class="pt-10 text-3xl  text-black" style="font-family: 'Montserrat',sans serif;">Blade
              Directives
            </h1>
            <p class="pt-5 text-xl text-white text-justify pb-10">Blade adalah template engine yang
              disediakan
              Selain pewarisan template dan tampilan data, Blade juga menyediakan pintasan yang nyaman
              untuk
              struktur kontrol PHP umum, seperti pernyataan bersyarat dan loop. Pintasan ini menyediakan
              cara
              yang sangat bersih dan singkat untuk bekerja dengan struktur kontrol PHP sementara juga
              tetap
              akrab dengan rekan PHP mereka.</p>
            !--IF STATEMENT-->
            <div class="ml-6">
              <h2 class="text-red-900 text-2xl ">IF STATEMENT</h2>
              <p class=" text-black text-justify text-xl mb-5">
                Anda dapat membuat pernyataan if menggunakan direktif @if, @elseif, @else, dan @endif.
                Arahan ini berfungsi identik dengan rekan-rekan PHP mereka:
              <div class="bg-black rounded-md p-8">
                <code class="font-bold text-green-400 "> <br>
                                    @if (count($records) === 1) <br>
                                        I have one record! <br>
                                    @elseif (count($records) > 1) <br>
                                        I have multiple records! <br>
                                    @else <br>
                                        I don't have any records! <br>
                                    @endif
                            </code>
              </div>
              <div class="bg-black rounded-md mt-5 p-8">
                <p>Untuk kebalikan dari if else</p>
                <code class="font-bold text-green-400 "> <br>
                                    @unless ($isLogin) <br>
                                    Anda tidak berhak mengakses halaman ini <br>
                                    @endunless <br>
                            </code>
              </div>
              <div class="my-5 text-xl text-black">
                Selain direktif bersyarat yang telah dibahas, direktif @isset dan @empty dapat digunakan
                sebagai
                pintasan yang nyaman untuk fungsi PHP masing-masing:
              </div>

              <div class="bg-black rounded-md p-8">
                <code class="font-bold text-green-400 "> <br>
                                @isset($records) <br>
                                    // $records is defined and is not null... <br>
                                @endisset <br>
                                
                                @empty($records) <br>
                                    // $records is "empty" <br>
                                @endempty <br>
                        </code>
              </div>

              </p>
            </div>
            <!--END OF IF STATEMENT-->
            
            <!--Authentication Directives-->
            <div class="ml-6 mt-10">
                 <h2 class="text-red-900 text-2xl">Authentication Directives</h2>
                  <p class=" text-black text-justify text-xl mb-5">
                     Arahan @auth dan @guest dapat digunakan untuk menentukan dengan cepat apakah pengguna
                                saat
                                ini diautentikasi atau merupakan tamu:
             <div class="bg-black rounded-md p-8">
                   <code class="font-bold text-green-400 "> <br>
                         @auth <br>
                              // The user is authenticated... <br>
                         @endauth <br>
                                
                         @guest <br>
                              // The user is not authenticated... <br>
                         @endguest
                      </code>
               </div>
               <div class="my-5 text-xl text-black">
                     Jika diperlukan, Anda dapat menentukan penjaga otentikasi yang harus diperiksa saat
                                menggunakan arahan @auth dan @guest:
                 </div>

                <div class="bg-black rounded-md p-8">
                     <code class="font-bold text-green-400 "> <br>
                           @auth('admin') <br>
                                // The user is authenticated... <br>
                            @endauth <br>
                             
                            @guest('admin') <br>
                                // The user is not authenticated... <br>
                            @endguest
                        </code>
                  </div>

                      </p>
                  </div>
                  <!--END OF Authentication Directives-->
                  <!--Switch Statement-->
                  <div class="ml-6 mt-10">
                    <h2 class="text-red-900 text-2xl">Switch Statement</h2>
                    <p class=" text-black text-justify text-xl mb-5">
                        Pernyataan switch dapat dibangun menggunakan direktif @switch, @case, @break,
                        @defaultdan
                        :@endswitch

                    <div class="bg-black rounded-md p-8">
                        <code class="font-bold text-green-400 "> <br>
                    @switch($i) <br>
                    @case(1) <br>
                        First case... <br>
                        @break <br>
                 
                    @case(2) <br>
                        Second case... <br>
                        @break <br>
                 
                    @default <br>
                        Default case... <br>
                @endswitch
                </code>
                    </div>

                    </p>
                </div>
                <!--END OF Switch Statement-->
<!--LOOPS-->
                        <div class="ml-6 mt-10">
                            <h2 class="text-red-900 text-2xl">Loops</h2>
                            <p class=" text-black text-justify text-xl mb-5">
                                Selain pernyataan bersyarat, Blade menyediakan arahan sederhana untuk bekerja dengan
                                struktur loop PHP. Sekali lagi, masing-masing arahan ini berfungsi identik dengan rekan
                                PHP
                                mereka:


                            <div class="bg-black rounded-md p-8">
                                <code class="font-bold text-green-400 "> <br>
                                @for ($i = 0; $i < 10; $i++) <br>
                                The current value is {{ $i }} <br>
                            @endfor <br>
                             
                            @foreach ($users as $user) <br>
                                <p>This is user {{ $user->id }}</p> <br>
                            @endforeach <br>
                              
                            @forelse ($users as $user) <br>
                               <li>{{ $user->name }}</li> <br>
                            @empty <br>
                                <p>No users</p> <br>
                            @endforelse <br>
                             
                            @while (true) <br>
                                <p>I'm looping forever.</p> <br>
                            @endwhile
                        </code>
                            </div>

                            </p>
                        </div>
                        <!--END OF LOOPS-->
                        <!--Loops Variabel-->
                        <div class="ml-6 mt-10">
                          <h2 class="text-red-900 text-2xl">Variabel Loops</h2>
                          <p class=" text-black text-justify text-xl mb-5">
                              Saat melakukan iterasi melalui loop foreach, variabel $loop akan tersedia di dalam loop
                              Anda. Variabel ini menyediakan akses ke beberapa bit informasi yang berguna seperti
                              indeks
                              loop saat ini dan apakah ini adalah iterasi pertama atau terakhir melalui loop:


                          <div class="bg-black rounded-md p-8">
                              <code class="font-bold text-green-400 "> <br>
                              @foreach ($users as $user) <br>
                              @if ($loop->first) <br>
                                  This is the first iteration. <br>
                              @endif <br>
                          
                              @if ($loop->last) <br>
                                  This is the last iteration. <br>
                              @endif <br>
                          
                              This is user {{ $user->id }}
                          @endforeach
                      </code>
                          </div>

                          </p>
                          <p class="text-black md:text-xl mt-5 pb-10">
                              Variabel $loop juga berisi berbagai properti berguna lainnya:
                              <img src="/img/looptable.jpeg" alt="">
                          </p>
                      </div>
                      <!--END OF Loops Variabel-->
                      <!--Conditional Classes-->
                      <div class="ml-6 mt-10">
                        <h2 class="text-red-900 text-2xl"> Conditional Classes</h2>
                        <p class=" text-black text-justify text-xl mb-5">
                            Direktif @classmengkompilasi string kelas CSS secara kondisional. Arahan menerima array
                            kelas di mana kunci array berisi kelas atau kelas yang ingin Anda tambahkan, sedangkan
                            nilainya adalah ekspresi boolean. Jika elemen array memiliki kunci numerik, elemen
                            tersebut akan selalu disertakan dalam daftar kelas yang dirender:


                        <div class="bg-black rounded-md p-8">
                            <code class="font-bold text-green-400 "> <br>
                                @php <br>
                                $isActive = false; <br>
                                $hasError = true; <br>
                            @endphp <br>
                             
                            <span @class([ 
                                'p-4',
                                'font-bold' => $isActive,
                                'text-gray-500' => ! $isActive,
                                'bg-red' => $hasError,
                            ])></span>
                             
                            <span class="p-4 text-gray-500 bg-red"></span>
                            
                    </code>
                        </div>

                        </p>
                    </div>
                    <!--end of conditional clases-->
          </div>
        </section>
      </div>
    </section>
    <!--End Of Blade Directives-->
  </div>
  <!--End Of Blade Template-->




</body>

</html>
