#anggota{
    background: linear-gradient(2.24deg, #FF2B21 -12%, #2227B1 80.95%); 
  }
  
  .containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 20px 0 80px;
  }
  .cards {
    width: 250px;
    height: 90%;
    margin: 10px;
    background-color: white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  }
  .cards:hover .cards__caption {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .cards:hover .cards_image {
    transform: translateY(-10px);
  }
  .cards:hover .cards__thumb::after {
    top: 0;
  }
  .cards:hover .cards__snippet {
    margin: 20px 0;
  }
  .cards__thumb {
    position: relative;
    max-height: 400px;
    overflow: hidden;
  }

  @media (min-width: 1024px) {
    .cards__thumb {
      max-height: 500px;
   }
  }
  .cards__thumb::after {
    position: absolute;
    top: 0;
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, .5) 40%, rgba(255, 255, 255, 0) 100%);
    transition: 0.3s;
  }
  @media (min-width: 1024px) {
    .cards__thumb::after {
      top: calc(100% - 140px);
   }
  }
  .cards__image {
    
    height: 500px;
    transition: 0.5s ease-in-out;
  }
  .cards__caption {
    position: absolute;
    top: 50%;
    z-index: 1;
    padding: 0 20px;
    color: white;
    transform: translateY(-50%);
    text-align: center;
    transition: 0.3s;
  }
  @media (min-width: 1024px) {
    .cards__caption {
      top: calc(100% - 110px);
      transform: unset;
   }
  }
  .cards__title {
    display: -webkit-box;
    max-height: 85px;
    overflow: hidden;
    font-family: 'Playfair Display', serif;
    font-size: 23px;
    line-height: 28px;
    text-shadow: 0px 1px 5px black;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  cards__snippet {
    display: -webkit-box;
    max-height: 150px;
    margin: 20px 0;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-overflow: ellipsis;
    transition: 0.5s ease-in-out;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
  }
  @media (min-width: 1024px) {
    .cards__snippet {
      margin: 60px 0;
   }
  }
  .cards__button {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.3s;
  }
  .cards__button:hover {
    color: black;
    background-color: white;
  }
  
  
  