<!DOCTYPE html>
<html data-theme="cupcake">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/daisyui@2.28.0/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <title>Rangkuman Blade</title>
</head>

<body>
  <!-- Navbar -->
  <div class="navbar p-4 bg-primary">
    <div class="dropdown text-primary-content">
      <label tabindex="0" class="btn btn-ghost btn-circle">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" />
        </svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-primary rounded-box w-52">
        <li><a href="/Kelompok-5/Nomor 1/Nomor1.html">Server and Client-Server Scripting</a></li>
        <li><a href="/Kelompok-5/Nomor 2/Nomor2.html">PHP Basics</a></li>
        <li><a href="/Kelompok-5/Nomor 3/Nomor3.html">Penerapan Seleksi Kondisi, Looping, Array</a></li>
        <li><a href="/Kelompok-5/Nomor 4/Nomor4.html">Penerapan Materi Terhadap Nilai Konversi Mahasiswa</a></li>
        <li><a href="/Kelompok-5/Nomor 5/Nomor5.html">Uji Coba Source Code</a></li>
        <li><a href="/Kelompok-5/Rangkuman Blade/rangkuman-blade-kelompok-5.html">Rangkuman Blade</a></li>
      </ul>
    </div>
    <div class="navbar-center">
      <a class="uppercase font-bold text-xl text-primary-content" href="/Kelompok-5/index.html">Kelompok 5 Pengembangan
        Aplikasi Web</a>
    </div>
  </div>
  <!-- Navbar -->

  <div class="container mx-auto">
    <!-- Judul -->
    <div class="container text-center p-4 text-2xl border-primary-content border-b-4 text-primary-content mt-4">
      <h1 class="font-bold text-3xl">Our Teams</h1>
    </div>
    <!-- Akhir judul -->

    <!-- Our Team -->
    <div class="container">
      <div class="flex flex-wrap justify-center">
        <!-- Konten1 -->
        <div data-aos="flip-left" data-aos-anchor=".other-element" data-aos-duration="1000"
          class="card w-96 bg-primary shadow-xl my-8">
          <img class="w-full" src="/Kelompok-5/images/Ajun.png" alt="user1">
          <div class="card-body">
            <h2 class="card-title text-neutral">Jundullah Al-Hafidz</h2>
            <p>
              215150700111033
            </p>
            <div class="card-actions justify-end">
              <a class="inline-block bg-primary-content rounded-full px-4 py-3 text-sm font-semibold
                   text-primary uppercase">front end</a>
            </div>
          </div>
        </div>

        <!-- Konten2 -->
        <div data-aos="flip-left" data-aos-anchor=".other-element" data-aos-duration="1000"
          class="card w-96 bg-primary shadow-xl my-8 mx-8">
          <img class="w-full" src="/Kelompok-5/images/faza.jpeg" alt="user1">
          <div class="card-body">
            <h2 class="card-title text-neutral">Muhammad Irtada Al Fawwaz</h2>
            <p>
              215150700111050
            </p>
            <div class="card-actions justify-end">
              <a class="inline-block bg-primary-content rounded-full px-4 py-3 text-sm font-semibold
                   text-primary uppercase">back end</a>
            </div>
          </div>
        </div>

        <!-- Konten3 -->
        <div data-aos="flip-left" data-aos-anchor=".other-element" data-aos-duration="1000"
          class="card w-96 bg-primary shadow-xl my-8">
          <img class="w-full" src="/Kelompok-5/images/fauzan.jpeg" alt="user1">
          <div class="card-body">
            <h2 class="card-title text-neutral">Fauzan Akbar Abhirama</h2>
            <p>
              215150707111012
            </p>
            <div class="card-actions justify-end">
              <a class="inline-block bg-primary-content rounded-full px-4 py-3 text-sm font-semibold
                   text-primary uppercase">front end</a>
            </div>
          </div>
        </div>

        <!-- Konten4 -->
        <div data-aos="flip-left" data-aos-anchor=".other-element" data-aos-duration="1000"
          class="card w-96 bg-primary shadow-xl mb-8 mr-8">
          <img class="w-full" src="/Kelompok-5/images/yusuf.jpeg" alt="user1">
          <div class="card-body">
            <h2 class="card-title text-neutral">Muhammad Yusuf Alhafiz</h2>
            <p>
              215150707111022
            </p>
            <div class="card-actions justify-end">
              <a class="inline-block bg-primary-content rounded-full px-4 py-3 text-sm font-semibold
                   text-primary uppercase">back end</a>
            </div>
          </div>
        </div>

        <!-- Konten5 -->
        <div data-aos="flip-left" data-aos-anchor=".other-element" data-aos-duration="1000"
          class="card w-96 bg-primary shadow-xl mb-8">
          <img class="w-full" src="/Kelompok-5/images/marcelino.jpeg" alt="user1">
          <div class="card-body">
            <h2 class="card-title text-neutral">Marcelino Kelvin</h2>
            <p>
              215150707111026
            </p>
            <div class="card-actions justify-end">
              <a class="inline-block bg-primary-content rounded-full px-4 py-3 text-sm font-semibold
                   text-primary uppercase">back end</a>
            </div>
          </div>
        </div>

      </div>
    </div>
    <!-- Akhir Our Team -->

    <!-- Judul -->
    <div class="container text-center p-4 text-2xl border-primary-content border-b-4 text-primary-content mt-10">
      <h1 class="font-bold text-3xl">Displaying Data</h1>
    </div>
    <!-- Akhir judul -->

    <!-- Isi konten -->
    <div class="container">
      <div class="flex flex-wrap justify-center">
        <!-- Judul Materi -->
        <div data-aos="fade-up" data-aos-duration="2000" class="card w-max bg-primary shadow-xl my-8">

          <div class="card-body">
            <!-- <h2 class="card-title text-neutral">Blade & JavaScript Frameworks</h2> -->
            <p>
              Since many JavaScript frameworks also use "curly" braces to indicate a given expression should be
              displayed in the browser, you may use the @ symbol to inform the Blade rendering engine an expression
              should remain untouched. For example:
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre data-prefix="1"><code>&lth1&gtLaravel&lth1&gt</code></pre>
              <pre data-prefix="2"><code></code></pre>
              <pre data-prefix="3"><code>Hello, @{{ <span class="text-warning">name</span> }}.</code></pre>
            </div>
            <p>
              In this example, the @ symbol will be removed by Blade; however, {{ name }} expression will remain
              untouched by the Blade engine, allowing it to be rendered by your JavaScript framework.
            </p>
            <p></p>
            <p>
              The @ symbol may also be used to escape Blade directives:
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre class=""
                data-prefix="1"><code><span class="text-secondary-focus">{{-- Blade template --}}</span></code></pre>
              <pre data-prefix="2"><code>@@if()</code></pre>
              <pre data-prefix="3"><code></code></pre>
              <pre data-prefix="4"><code><span class="text-secondary-focus">{{-- HTML Output --}}</span></code></pre>
              <pre data-prefix="5"><code><span class="text-warning">@if</span>()</code></pre>
            </div>
            <!-- Sub Judul -->
            <h2 class="card-title text-neutral mt-4 font-bold">Blade & JavaScript Frameworks</h2>
            <p>
              Since many JavaScript frameworks also use "curly" braces to indicate a given expression should be
              displayed in the browser, you may use the @ symbol to inform the Blade rendering engine an expression
              should remain untouched. For example:
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre data-prefix="1"><code>&lth1&gtLaravel&lth1&gt</code></pre>
              <pre data-prefix="2"><code></code></pre>
              <pre data-prefix="3"><code>Hello, @{{ <span class="text-warning">name</span> }}.</code></pre>
            </div>
            <p>
              In this example, the @ symbol will be removed by Blade; however, {{ name }} expression will remain
              untouched by the Blade engine, allowing it to be rendered by your JavaScript framework.
            </p>
            <p></p>
            <p>
              The @ symbol may also be used to escape Blade directives:
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre class=""
                data-prefix="1"><code><span class="text-secondary-focus">{{-- Blade template --}}</span></code></pre>
              <pre data-prefix="2"><code>@@if()</code></pre>
              <pre data-prefix="3"><code></code></pre>
              <pre data-prefix="4"><code><span class="text-secondary-focus">{{-- HTML Output --}}</span></code></pre>
              <pre data-prefix="5"><code><span class="text-warning">@if</span>()</code></pre>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- ----------------------------------------------------------------------------------------------------------------- -->
    <!-- Judul -->
    <div class="container text-center p-4 text-2xl border-primary-content border-b-4 text-primary-content mt-10">
      <h1 class="font-bold text-3xl">Blade Directives</h1>
    </div>
    <!-- Akhir judul -->

    <div class="container">
      <div class="flex flex-wrap justify-center">
        <!-- Judul Materi -->
        <div data-aos="fade-up" data-aos-duration="2000" class="card w-max bg-primary shadow-xl my-8">

          <div class="card-body">
            <!-- <h2 class="card-title text-neutral">Blade & JavaScript Frameworks</h2> -->
            <p>
              Since many JavaScript frameworks also use "curly" braces to indicate a given expression should be
              displayed in the browser, you may use the @ symbol to inform the Blade rendering engine an expression
              should remain untouched. For example:
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre data-prefix="1"><code>&lth1&gtLaravel&lth1&gt</code></pre>
              <pre data-prefix="2"><code></code></pre>
              <pre data-prefix="3"><code>Hello, @{{ <span class="text-warning">name</span> }}.</code></pre>
            </div>
            <p>
              In this example, the @ symbol will be removed by Blade; however, {{ name }} expression will remain
              untouched by the Blade engine, allowing it to be rendered by your JavaScript framework.
            </p>
            <p></p>
            <p>
              The @ symbol may also be used to escape Blade directives:
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre class=""
                data-prefix="1"><code><span class="text-secondary-focus">{{-- Blade template --}}</span></code></pre>
              <pre data-prefix="2"><code>@@if()</code></pre>
              <pre data-prefix="3"><code></code></pre>
              <pre data-prefix="4"><code><span class="text-secondary-focus">{{-- HTML Output --}}</span></code></pre>
              <pre data-prefix="5"><code><span class="text-warning">@if</span>()</code></pre>
            </div>
            <!-- Sub Judul -->
            <h2 class="card-title text-neutral mt-4 font-bold">Blade & JavaScript Frameworks</h2>
            <p>
              Since many JavaScript frameworks also use "curly" braces to indicate a given expression should be
              displayed in the browser, you may use the @ symbol to inform the Blade rendering engine an expression
              should remain untouched. For example:
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre data-prefix="1"><code>&lth1&gtLaravel&lth1&gt</code></pre>
              <pre data-prefix="2"><code></code></pre>
              <pre data-prefix="3"><code>Hello, @{{ <span class="text-warning">name</span> }}.</code></pre>
            </div>
            <p>
              In this example, the @ symbol will be removed by Blade; however, {{ name }} expression will remain
              untouched by the Blade engine, allowing it to be rendered by your JavaScript framework.
            </p>
            <p></p>
            <p>
              The @ symbol may also be used to escape Blade directives:
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre class=""
                data-prefix="1"><code><span class="text-secondary-focus">{{-- Blade template --}}</span></code></pre>
              <pre data-prefix="2"><code>@@if()</code></pre>
              <pre data-prefix="3"><code></code></pre>
              <pre data-prefix="4"><code><span class="text-secondary-focus">{{-- HTML Output --}}</span></code></pre>
              <pre data-prefix="5"><code><span class="text-warning">@if</span>()</code></pre>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="container text-center p-4 text-2xl border-primary-content border-b-4 text-primary-content mt-10">
      <h1 class="font-bold text-3xl">If Statements</h1>
    </div>
    <!-- Akhir judul -->

    <!-- Isi konten -->
    <div class="container">
      <div class="flex flex-wrap justify-center">
        <!-- Judul Materi -->
        <div data-aos="fade-up" data-aos-duration="2000" class="card w-max bg-primary shadow-xl my-8">

          <div class="card-body">
            <h2 class="card-title text-neutral">If Statements</h2>
            <p>
              Percabangan ini identik dengan percabangan yang dimiliki PHP yaitu @if, @elseif, @else, @endif contoh
              implementasinya seperti pada gambar berikut
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre data-prefix="1"><code>@if (count($records) === 1)</code></pre>
              <pre data-prefix="2"><code><span class="text-secondary-focus">   I have one record!</span></code></pre>
              <pre data-prefix="3"><code>@elseif (count($records) > 1)</code></pre>
              <pre
                data-prefix="4"><code><span class="text-secondary-focus">   I have multiple records!</span></code></pre>
              <pre data-prefix="5"><code>@else</code></pre>
              <pre
                data-prefix="6"><code><span class="text-secondary-focus">   I don't have any records!</span></code></pre>
              <pre data-prefix="7"><code>@endif</code></pre>
            </div>
            <p>
              Untuk fleksibilitas blade menyediakan syntax baru di percabangan pada blade yaitu @unless yang merupakan
              kebalikan dari syntax dari percabangan ifelse implementasinya seperti pada gambar berikut
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre class="" data-prefix="1"><code>@unless (Auth::check())</code></pre>
              <pre
                data-prefix="2"><code><span class="text-secondary-focus">    You are not signed in.</span></code></pre>
              <pre data-prefix="3"><code>@endunless</code></pre>
            </div>
            <p>
              Selain pembahsan yang terdapat diatas, untuk kenyamanan pengguna blade juga menyediakan syntax @isset
              untuk memberi nilai dan syntax @empty untuk mengosongkan nilai sebuah variabel untuk implementasinya
              seperti gambar berikut
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre class="" data-prefix="1"><code>@isset($records)</code></pre>
              <pre
                data-prefix="2"><code><span class="text-secondary-focus">    // $records is defined and is not null...</span></code></pre>
              <pre data-prefix="3"><code>@endisset</code></pre><br>
              <pre class="" data-prefix="4"><code>@empty($records)</code></pre>
              <pre
                data-prefix="5"><code><span class="text-secondary-focus">    // $records is defined and is not null...</span></code></pre>
              <pre data-prefix="6"><code>@endisset</code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container text-center p-4 text-2xl border-primary-content border-b-4 text-primary-content mt-10">
      <h1 class="font-bold text-3xl">The Loop Variable</h1>
    </div>
    <!-- Akhir judul -->

    <!-- Isi konten -->
    <div class="container">
      <div class="flex flex-wrap justify-center">
        <!-- Judul Materi -->
        <div data-aos="fade-up" data-aos-duration="2000" class="card w-max bg-primary shadow-xl my-8">

          <div class="card-body">
            <h2 class="card-title text-neutral">The Loop Variable</h2>DD
            <p>
              Saat melakukan iterasi melalui sebuah foreach loop, sebuah $loop variabel akan tersedia di dalam loop
              Anda. Variabel ini menyediakan akses ke beberapa bit informasi yang berguna seperti indeks loop saat ini
              dan apakah ini adalah iterasi pertama atau terakhir melalui loop
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre data-prefix="1"><code> @foreach ($users as $user)</code></pre>
              <pre data-prefix="2"><code> @if ($loop->first)</code></pre>
              <pre
                data-prefix="3"><code><span class="text-secondary-focus">    This is the first iteration.</span></code></pre>
              <pre data-prefix="4"><code> @endif</code></pre>
              <pre data-prefix="5"><code> @if ($loop->last)</code></pre>
              <pre
                data-prefix="6"><code><span class="text-secondary-focus">    This is the last iteration.</span></code></pre>
              <pre data-prefix="7"><code> @endif</code></pre>
              <pre
                data-prefix="8"><code><span class="text-secondary-focus">    This is user {{ $user->id }}</span></code></pre>
              <pre data-prefix="9"><code> @endforeach</code></pre>
            </div>
            <p>
              Jika Anda berada dalam loop bersarang, Anda dapat mengakses $loop variabel loop induk melalui parent
              properti
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre data-prefix="1"><code> @foreach ($users as $user)</code></pre>
              <pre data-prefix="2"><code>   @foreach ($user->posts as $post)</code></pre>
              <pre data-prefix="3"><code>     @if ($loop->parent->first)</span></code></pre>
              <pre
                data-prefix="4"><code><span class="text-secondary-focus">      This is the first iteration of the parent loop. </span></code></pre>
              <pre data-prefix="5"><code>   @endif</code></pre>
              <pre data-prefix="6"><code>  @endforeach</code></pre>
              <pre data-prefix="7"><code> @endforeach</code></pre>
              <pre
                data-prefix="8"><code><span class="text-secondary-focus">      This is user {{ $user->id }}</span></code></pre>
              <pre data-prefix="9"><code> @endforeach</code></pre>
            </div>
            <p>
              Beberapa variabel loop lainnya yaitu :
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre
                data-prefix="1"><code>$loop->index     : Indeks dari iterasi loop saat ini (dimulai dari 0).  </code></pre>
              <pre data-prefix="2"><code>$loop->iteration : Iterasi loop saat ini (dimulai dari 1). </code></pre>
              <pre data-prefix="3"><code>$loop->remaining : Iterasi yang tersisa dalam loop.  </code></pre>
              <pre data-prefix="4"><code>$loop->count     : Jumlah total item dalam array yang diulang.  </code></pre>
              <pre
                data-prefix="5"><code>$loop->first     : Apakah ini adalah iterasi pertama melalui loop.  </code></pre>
              <pre
                data-prefix="6"><code>$loop->last      : Apakah ini adalah iterasi terakhir melalui loop.  </code></pre>
              <pre
                data-prefix="7"><code>$loop->even      : Apakah ini merupakan iterasi genap melalui loop.  </code></pre>
              <pre data-prefix="8"><code>$loop->odd       : Apakah ini iterasi ganjil melalui loop.  </code></pre>
              <pre data-prefix="9"><code>$loop->depth     : Tingkat bersarang dari loop saat ini.  </code></pre>
              <pre
                data-prefix="10"><code>$loop->parent    : Saat berada dalam loop bersarang, variabel loop induk.  </code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container text-center p-4 text-2xl border-primary-content border-b-4 text-primary-content mt-10">
      <h1 class="font-bold text-3xl">Conditional Classes</h1>
    </div>
    <!-- Akhir judul -->

    <!-- Isi konten -->
    <div class="container">
      <div class="flex flex-wrap justify-center">
        <!-- Judul Materi -->
        <div data-aos="fade-up" data-aos-duration="2000" class="card w-max bg-primary shadow-xl my-8">

          <div class="card-body">
            <h2 class="card-title text-neutral">Conditional Classes</h2>
            <p>
              Direktif @class mengkompilasi string kelas CSS secara kondisional. Arahan menerima array kelas di mana
              kunci array berisi kelas atau kelas yang ingin Anda tambahkan, sedangkan nilainya adalah ekspresi boolean.
              Jika elemen array memiliki kunci numerik, elemen tersebut akan selalu disertakan dalam daftar kelas yang
              dirender
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre data-prefix="1"><code>@php</code></pre>
              <pre data-prefix="2"><code><span class="text-secondary-focus">    $isActive = false;</span></code></pre>
              <pre data-prefix="3"><code><span class="text-secondary-focus">    $hasError = true;</span></code></pre>
              <pre data-prefix="4"><code>@endphp</code></pre><br>
              <pre data-prefix="5"><code><"span @class([</code></pre>
              <pre data-prefix="6"><code><span class="text-secondary-focus">   'p-4',</span></code></pre>
              <pre
                data-prefix="7"><code><span class="text-secondary-focus">   'font-bold' => $isActive,</span></code></pre>
              <pre
                data-prefix="8"><code><span class="text-secondary-focus">   'text-gray-500' => ! $isActive,</span></code></pre>
              <pre
                data-prefix="9"><code><span class="text-secondary-focus">   'bg-red' => $hasError,</span> </code></pre>
              <pre data-prefix="10"><code> ])>/span></code></pre><br>
              <pre data-prefix="11"><code><"span class="p-4 text-gray-500 bg-red"></span></code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container text-center p-4 text-2xl border-primary-content border-b-4 text-primary-content mt-10">
      <h1 class="font-bold text-3xl">Additional Attributes</h1>
    </div>
    <!-- Akhir judul -->

    <!-- Isi konten -->
    <div class="container">
      <div class="flex flex-wrap justify-center">
        <!-- Judul Materi -->
        <div data-aos="fade-up" data-aos-duration="2000" class="card w-max bg-primary shadow-xl my-8">

          <div class="card-body">
            <h2 class="card-title text-neutral">Additional Attributes</h2>
            <p>
              Untuk kenyamanan, Anda dapat menggunakan @checkeddirektif untuk dengan mudah menunjukkan jika input kotak
              centang HTML yang diberikan "dicentang". Arahan ini akan bergema checkedjika kondisi yang diberikan
              mengevaluasi ke true
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre data-prefix="1"><code><'input</code></pre>
              <pre data-prefix="2"><code><span class="text-secondary-focus">    type="checkbox"</span></code></pre>
              <pre data-prefix="3"><code><span class="text-secondary-focus">    name="active"</span></code></pre>
              <pre data-prefix="4"><code><span class="text-secondary-focus">    value="active"</span></code></pre>
              <pre data-prefix="5"><code>   @checked(old('active', $user->active)) /></code></pre><br>
            </div>
            <p>
              Demikian juga, @selected arahan dapat digunakan untuk menunjukkan apakah opsi pilih yang diberikan harus
              "dipilih":
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre data-prefix="1"><code><'select name="version"</code></pre>
              <pre data-prefix="2"><code>   @foreach ($product->versions as $version)</code></pre>
              <pre
                data-prefix="3"><code><span class="text-secondary-focus">     <'option value="{{ $version }}" @selected(old('version') == $version)></span></code></pre>
              <pre data-prefix="4"><code><span class="text-secondary-focus">        {{ $version }}</span></code></pre>
              <pre data-prefix="5"><code><span class="text-secondary-focus">    <'/option></code></span></pre>
              <pre data-prefix="6"><code>   @endforeach</code></pre>
              <pre data-prefix="7"><code><'/select></code></pre>
            </div>
            <p>
              Selain itu, @disabled arahan dapat digunakan untuk menunjukkan apakah elemen yang diberikan harus
              "dinonaktifkan":
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre
                data-prefix="1"><code><' button type="submit" @disabled($errors->isNotEmpty())>Submit<'/button></code></pre>
            </div>
            <p>
              Selain itu, @readonly arahan dapat digunakan untuk menunjukkan apakah elemen yang diberikan harus
              "hanya-baca":
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre data-prefix="1"><code><'input</code></pre>
              <pre data-prefix="2"><code><span class="text-secondary-focus">    type="email"</span></code></pre>
              <pre data-prefix="3"><code><span class="text-secondary-focus">    name="email"</span></code></pre>
              <pre
                data-prefix="4"><code><span class="text-secondary-focus">    value="email@laravel.com"</span></code></pre>
              <pre
                data-prefix="5"><code><span class="text-secondary-focus">    @readonly($user->isNotAdmin()) /></span></code></pre>
            </div>
            <p>
              Selain itu, @required arahan dapat digunakan untuk menunjukkan apakah elemen yang diberikan harus
              "diperlukan"
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre data-prefix="1"><code><'input</code></pre>
              <pre data-prefix="2"><code><span class="text-secondary-focus">    type="text"</span></code></pre>
              <pre data-prefix="3"><code><span class="text-secondary-focus">    name="title"</span></code></pre>
              <pre data-prefix="4"><code><span class="text-secondary-focus">    value="title"</span></code></pre>
              <pre
                data-prefix="5"><code><span class="text-secondary-focus">    @required($user->isAdmin()) /></span></code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container text-center p-4 text-2xl border-primary-content border-b-4 text-primary-content mt-10">
      <h1 class="font-bold text-3xl">The @once Directive</h1>
    </div>
    <!-- Akhir judul -->

    <!-- Isi konten -->
    <div class="container">
      <div class="flex flex-wrap justify-center">
        <!-- Judul Materi -->
        <div data-aos="fade-up" data-aos-duration="2000" class="card w-max bg-primary shadow-xl my-8">

          <div class="card-body">
            <h2 class="card-title text-neutral">The @once Directive</h2>
            <p>
              Arahan @once memungkinkan Anda untuk menentukan bagian dari template yang hanya akan dievaluasi sekali per
              siklus rendering. Ini mungkin berguna untuk mendorong bagian tertentu dari JavaScript ke dalam header
              halaman menggunakan stacks . Misalnya, jika Anda merender komponen tertentu dalam satu lingkaran, Anda
              mungkin hanya ingin mendorong JavaScript ke header saat pertama kali komponen dirender:
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre data-prefix="1"><code>@once</code></pre>
              <pre data-prefix="2"><code>   @push('scripts')</code></pre>
              <pre data-prefix="3"><code><span class="text-secondary-focus">    <'script></span></code></pre>
              <pre data-prefix="4"><code>     (custom javascript)</code></pre>
              <pre data-prefix="5"><code><span class="text-secondary-focus">    <'/script></span></code></pre>
              <pre data-prefix="6"><code>   @endpush</code></pre>
              <pre data-prefix="7"><code>@endonce</code></pre>
            </div>
            <p>
              Karena @once direktif sering digunakan bersama dengan @pushor @prepend direktif, @pushOnce dan
              @prependOnce direktif tersedia untuk kenyamanan Anda:
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre data-prefix="1"><code>@pushOnce('scripts')</code></pre>
              <pre data-prefix="2"><code><span class="text-secondary-focus">    <'script></span></code></pre>
              <pre data-prefix="3"><code>     (custom javascript)</code></pre>
              <pre data-prefix="4"><code><span class="text-secondary-focus">    <'/script></span></code></pre>
              <pre data-prefix="5"><code>@endPushOnce</code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container text-center p-4 text-2xl border-primary-content border-b-4 text-primary-content mt-10">
      <h1 class="font-bold text-3xl">Passing Data to Components</h1>
    </div>
    <!-- Akhir judul -->

    <!-- Isi konten -->
    <div class="container">
      <div class="flex flex-wrap justify-center">
        <!-- Judul Materi -->
        <div data-aos="fade-up" data-aos-duration="2000" class="card w-max bg-primary shadow-xl my-8">

          <div class="card-body">
            <h2 class="card-title text-neutral">Passing Data to Components</h2>
            <p>
              Anda dapat meneruskan data ke komponen Blade menggunakan atribut HTML. Hard-coded, nilai primitif dapat
              diteruskan ke komponen menggunakan string atribut HTML sederhana. Ekspresi dan variabel PHP harus
              diteruskan ke komponen melalui atribut yang menggunakan : karakter sebagai awalan:
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre data-prefix="1"><code><'x-alert type="error" :message="$message"/></code></pre>
            </div>
            <p>
              Anda harus mendefinisikan semua atribut data komponen dalam konstruktor kelasnya. Semua properti publik
              pada komponen akan secara otomatis tersedia untuk tampilan komponen. Tidak perlu meneruskan data ke
              tampilan dari metode komponen render:
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre data-prefix="1"><code><span class="text-secondary-focus"><'?php</span></code></pre>
              <pre
                data-prefix="2"><code><span class="text-secondary-focus">namespace App\View\Components;</span></code></pre>
              <pre
                data-prefix="3"><code><span class="text-secondary-focus">use Illuminate\View\Component;</span></code></pre>
              <pre
                data-prefix="4"><code><span class="text-secondary-focus">   class Alert extends Component</span></code></pre>
              <pre data-prefix="5"><code><span class="text-secondary-focus">    {</span></code></pre>
              <pre data-prefix="6"><code>       /**</code></pre>
              <pre data-prefix="7"><code>       * The alert type.</code></pre>
              <pre data-prefix="8"><code>       @var string</code></pre>
              <pre data-prefix="9"><code>       */</code></pre>
              <pre data-prefix="10"><code>       public $message;</code></pre>
              <pre data-prefix="11"><code>       /**</code></pre>
              <pre data-prefix="12"><code>       * Create the component instance.</code></pre>
              <pre data-prefix="13"><code>       *</code></pre>
              <pre data-prefix="14"><code>       @param  string  $type</code></pre>
              <pre data-prefix="15"><code>       @param  string  $message</code></pre>
              <pre data-prefix="16"><code>       @return void</code></pre>
              <pre data-prefix="17"><code>       */</code></pre>
              <pre
                data-prefix="18"><code><span class="text-secondary-focus">         public function __construct($type, $message)</span></code></pre>
              <pre data-prefix="19"><code><span class="text-secondary-focus">           {</span></code></pre>
              <pre data-prefix="20"><code>             $this->type = $type;</code></pre>
              <pre data-prefix="21"><code>             $this->message = $message;</code></pre>
              <pre data-prefix="22"><code><span class="text-secondary-focus">           }</span></code></pre>
              <pre data-prefix="23"><code>             /**</code></pre>
              <pre
                data-prefix="24"><code>             * Get the view / contents that represent the component.</code></pre>
              <pre data-prefix="25"><code>             *</code></pre>
              <pre data-prefix="26"><code>             @return \Illuminate\View\View|\Closure|string</code></pre>
              <pre data-prefix="27"><code>             */</code></pre>
              <pre
                data-prefix="28"><code><span class="text-secondary-focus">         public function render()</span></code></pre>
              <pre data-prefix="29"><code><span class="text-secondary-focus">          {</span></code></pre>
              <pre data-prefix="30"><code>           return view('components.alert');</code></pre>
              <pre data-prefix="31"><code><span class="text-secondary-focus">           }</span></code></pre>
              <pre data-prefix="32"><code><span class="text-secondary-focus">       }</span></code></pre>
            </div>
            <p>
              Saat komponen Anda dirender, Anda dapat menampilkan konten variabel publik komponen Anda dengan
              menggemakan variabel berdasarkan nama
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre
                data-prefix="1"><code><span class="text-secondary-focus"><'div class="alert alert-{{ $type }}"></span></code></pre>
              <pre data-prefix="2"><code>   {{ $message }}</span></code></pre>
              <pre data-prefix="3"><code><span class="text-secondary-focus"><'/div></span></code></pre>
            </div>
            <h2 class="card-title text-neutral mt-4 font-bold">Casing</h2>
            <p>
              Argumen konstruktor komponen harus ditentukan menggunakan camelCase, sementara kebab-caseharus digunakan
              saat mereferensikan nama argumen dalam atribut HTML Anda. Misalnya, diberikan konstruktor komponen
              berikut:
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre data-prefix="1"><code>/**</code></pre>
              <pre data-prefix="2"><code>* Create the component instance.</code></pre>
              <pre data-prefix="3"><code>* @param  string  $alertType</code></pre>
              <pre data-prefix="4"><code>* @return void</code></pre>
              <pre data-prefix="5"><code>*/</code></pre>
              <pre
                data-prefix="6"><code><span class="text-secondary-focus"> public function __construct($alertType)</span></code></pre>
              <pre data-prefix="7"><code><span class="text-secondary-focus">   {</span></code></pre>
              <pre data-prefix="8"><code>     $this->alertType = $alertType;</code></pre>
              <pre data-prefix="9"><code><span class="text-secondary-focus">   }</span></code></pre>
            </div>
            <p>
              Argumen $alertTypedapat diberikan ke komponen seperti:
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre data-prefix="1"><code><'x-alert alert-type="danger" /></code></pre>
            </div>
            <h2 class="card-title text-neutral mt-4 font-bold">Short Attribute Syntax</h2>
            <p>
              Saat meneruskan atribut ke komponen, Anda juga dapat menggunakan sintaks "atribut pendek". Ini seringkali
              nyaman karena nama atribut sering cocok dengan nama variabel yang sesuai dengannya:
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre data-prefix="1"><code>{{-- Short attribute syntax... --}}</code></pre>
              <pre
                data-prefix="2"><code><span class="text-secondary-focus"><'x-profile :$userId :$name /></span></code></pre>
              <br>
              <pre data-prefix="3"><code>{{-- Short attribute syntax... --}}</code></pre>
              <pre
                data-prefix="4"><code><span class="text-secondary-focus"><'x-profile :user-id="$userId" :name="$name" /></span></code></pre>
            </div>
            <h2 class="card-title text-neutral mt-4 font-bold">Escaping Attribute Rendering</h2>
            <p>
              Karena beberapa kerangka kerja JavaScript seperti Alpine.js juga menggunakan atribut awalan titik dua,
              Anda dapat menggunakan :: awalan titik dua ( ) untuk memberi tahu Blade bahwa atribut tersebut bukan
              ekspresi PHP. Misalnya, diberikan komponen berikut:
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre
                data-prefix="1"><code><span class="text-secondary-focus"><'x-button ::class="{ danger: isDeleting }"></span></code></pre>
              <pre data-prefix="2"><code>   Submit</code></pre>
              <pre data-prefix="3"><code><span class="text-secondary-focus"><'/x-button></span></code></pre>
            </div>
            <p>
              HTML berikut akan dirender oleh Blade:
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre
                data-prefix="1"><code><span class="text-secondary-focus"><'button :class="{ danger: isDeleting }"></span></code></pre>
              <pre data-prefix="2"><code>   Submit</code></pre>
              <pre data-prefix="3"><code><span class="text-secondary-focus"><'/button></span></code></pre>
            </div>
            <h2 class="card-title text-neutral mt-4 font-bold">Component Methods</h2>
            <p>
              Selain variabel publik yang tersedia untuk template komponen Anda, metode publik apa pun pada komponen
              dapat dipanggil. Misalnya, bayangkan sebuah komponen yang memiliki isSelectedmetode:
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre data-prefix="1"><code>/**</code></pre>
              <pre data-prefix="2"><code>* Determine if the given option is the currently selected option.</code></pre>
              <br>
              <pre data-prefix="3"><code>*</code></pre>
              <pre data-prefix="4"><code>* @param  string  $option</code></pre>
              <pre data-prefix="5"><code>* @return bool</code></pre>
              <pre data-prefix="6"><code>*/</code></pre><br>
              <pre
                data-prefix="7"><code><span class="text-secondary-focus"> public function isSelected($option)</span></code></pre>
              <pre data-prefix="8"><code><span class="text-secondary-focus">   {</span></code></pre>
              <pre data-prefix="9"><code>     return $option === $this->selected;</code></pre>
              <pre data-prefix="10"><code><span class="text-secondary-focus">  }</span></code></pre>
            </div>
            <p>
              Anda dapat menjalankan metode ini dari templat komponen Anda dengan memanggil variabel yang cocok dengan
              nama metode:
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre
                data-prefix="1"><code><span class="text-secondary-focus"><'option {{ $isSelected($value) ? 'selected' : '' }} value="{{ $value }}"></span></code></pre>
              <pre data-prefix="2"><code>   {{ $label }}</code></pre>
              <pre data-prefix="3"><code><span class="text-secondary-focus"><'/option></span></code></pre>
            </div>
            <h2 class="card-title text-neutral mt-4 font-bold">Accessing Attributes & Slots Within Component Classes
            </h2>
            <p>
              Komponen blade juga memungkinkan Anda mengakses nama komponen, atribut, dan slot di dalam metode render
              kelas. Namun, untuk mengakses data ini, Anda harus mengembalikan penutupan dari rendermetode komponen
              Anda. Penutupan akan menerima $dataarray sebagai satu-satunya argumennya. Array ini akan berisi beberapa
              elemen yang memberikan informasi tentang komponen:
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre data-prefix="1"><code>/**</code></pre>
              <pre data-prefix="2"><code>* Get the view / contents that represent the component.</code></pre>
              <pre data-prefix="3"><code>*</code></pre>
              <pre data-prefix="4"><code>* @return \Illuminate\View\View|\Closure|string</code></pre>
              <pre data-prefix="5"><code>* @return bool</code></pre>
              <pre data-prefix="6"><code>*/</code></pre><br>
              <pre
                data-prefix="7"><code><span class="text-secondary-focus"> public function render()</span></code></pre>
              <pre data-prefix="8"><code><span class="text-secondary-focus">   {</span></code></pre>
              <pre data-prefix="9"><code>      return function (array $data) {</code></pre>
              <pre data-prefix="10"><code>         return '<'div>Components content<'/div>';</code></pre>
              <pre data-prefix="11"><code>      };</code></pre>
              <pre data-prefix="12"><code><span class="text-secondary-focus">  }</span></code></pre>
            </div>
            <p>
              Itu componentNamesama dengan nama yang digunakan dalam tag HTML setelah x-awalan. Jadi akan .
              <'x-alert />_ Elemen akan berisi semua atribut yang ada pada tag HTML. Elemen adalah instance dengan
              konten slot komponen.componentNamealertattributesslotIlluminate\Support\HtmlString <br><br>
              Penutupan harus mengembalikan string. Jika string yang dikembalikan sesuai dengan tampilan yang ada,
              tampilan tersebut akan dirender; jika tidak, string yang dikembalikan akan dievaluasi sebagai tampilan
              Blade sebaris.
            </p>
            <h2 class="card-title text-neutral mt-4 font-bold">Additional Dependencies</h2>
            <p>
              Jika komponen Anda memerlukan dependensi dari wadah layanan Laravel , Anda dapat mencantumkannya sebelum
              atribut data komponen mana pun dan mereka akan secara otomatis disuntikkan oleh wadah:
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre data-prefix="1"><code>use App\Services\AlertCreator;</code></pre>
              <pre data-prefix="2"><code>/**</code></pre>
              <pre data-prefix="3"><code>* Create the component instance.</code></pre>
              <pre data-prefix="4"><code>* @param  \App\Services\AlertCreator  $creator</code></pre>
              <pre data-prefix="5"><code>* @param  string  $type</pre>
              <pre data-prefix="6"><code>* @param  string  $message</code></pre><br>
              <pre data-prefix="7"><code>* @return void</code></pre>
              <pre data-prefix="8"><code> */</code></pre>
              <pre
                data-prefix="9"><code><span class="text-secondary-focus">  public function __construct(AlertCreator $creator, $type, $message)</span> </code></pre>
              <pre data-prefix="10"><code><span class="text-secondary-focus">    {</span></code></pre>
              <pre data-prefix="11"><code>      $this->creator = $creator;</code></pre>
              <pre data-prefix="12"><code>      $this->type = $type;</code></pre>
              <pre data-prefix="11"><code>      $this->message = $message;</code></pre>
              <pre data-prefix="12"><code><span class="text-secondary-focus">     }</span> </code></pre>
            </div>
            <h2 class="card-title text-neutral mt-4 font-bold">Hiding Attributes / Methods</h2>
            <p>
              Jika Anda ingin mencegah beberapa metode atau properti publik diekspos sebagai variabel ke templat
              komponen Anda, Anda dapat menambahkannya ke $exceptproperti array di komponen Anda
            </p>
            <div class="mockup-code m-4 bg-primary-content text-secondary">
              <pre data-prefix="1"><code><'?php</code></pre>
              <pre data-prefix="2"><code>namespace App\View\Components;</code></pre>
              <pre data-prefix="3"><code>use Illuminate\View\Component;</code></pre><br>
              <pre
                data-prefix="4"><code><span class="text-secondary-focus">   class Alert extends Component</span></code></pre>
              <pre data-prefix="5"><code><span class="text-secondary-focus">     {</span></pre>
              <pre data-prefix="6"><code>       /**</code></pre>
              <pre data-prefix="7"><code>         * The alert type.</code></pre>
              <pre data-prefix="8"><code>         * @var string</code></pre>
              <pre data-prefix="9"><code>         */ </code></pre>
              <pre data-prefix="10"><code>        public $type;</code></pre>
              <pre data-prefix="11"><code>      /**</code></pre>
              <pre
                data-prefix="12"><code>      * The properties / methods that should not be exposed to the component template.</code></pre>
              <pre data-prefix="13"><code>      * @var array</code></pre>
              <pre data-prefix="14"><code>      */</code></pre>
              <pre data-prefix="15"><code>    protected $except = ['type'];</code></pre>
              <pre data-prefix="16"><code><span class="text-secondary-focus">  }</span></code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Akhir Konten -->
  </div>

  <script>
    AOS.init();
  </script>
</body>

<footer class="footer items-center p-4 bg-primary text-primary-content mt-4">
  <div class="items-center grid-flow-col">
    <svg width="36" height="36" viewBox="0 0 24 24"
      xmlns="https://id.wikipedia.org/wiki/Berkas:Logo_Universitas_Brawijaya.svg#/media/Berkas:Logo_Universitas_Brawijaya.svg"
      fill-rule="evenodd" clip-rule="evenodd" class="fill-current">
      <path
        d="M22.672 15.226l-2.432.811.841 2.515c.33 1.019-.209 2.127-1.23 2.456-1.15.325-2.148-.321-2.463-1.226l-.84-2.518-5.013 1.677.84 2.517c.391 1.203-.434 2.542-1.831 2.542-.88 0-1.601-.564-1.86-1.314l-.842-2.516-2.431.809c-1.135.328-2.145-.317-2.463-1.229-.329-1.018.211-2.127 1.231-2.456l2.432-.809-1.621-4.823-2.432.808c-1.355.384-2.558-.59-2.558-1.839 0-.817.509-1.582 1.327-1.846l2.433-.809-.842-2.515c-.33-1.02.211-2.129 1.232-2.458 1.02-.329 2.13.209 2.461 1.229l.842 2.515 5.011-1.677-.839-2.517c-.403-1.238.484-2.553 1.843-2.553.819 0 1.585.509 1.85 1.326l.841 2.517 2.431-.81c1.02-.33 2.131.211 2.461 1.229.332 1.018-.21 2.126-1.23 2.456l-2.433.809 1.622 4.823 2.433-.809c1.242-.401 2.557.484 2.557 1.838 0 .819-.51 1.583-1.328 1.847m-8.992-6.428l-5.01 1.675 1.619 4.828 5.011-1.674-1.62-4.829z">
      </path>
    </svg>
    <p>Universitas Brawijaya © 2022</p>
  </div>
</footer>

</html>